<mat-card class="hero-card">
    <img mat-card-image src="../../../assets/img/doner2.jpg" alt="Food Clash UI" />
    <mat-card-header>
        <mat-card-title>Най- добрият дюнер на София</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Всеки си има своята идея за кой прави най- добрите дюнери в София.
            Решихме да сложим край на тези спорове като поставим лябимте ни борци с пиянският глад в битка.
            За титлата най-добър дюнер на София се изправят титаните от "Зенобия", "Фантазия" и "Chicken Shack".
        </p>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
    </mat-card-footer>
</mat-card>